body {
background-color:rgb(252, 226, 181);
color:rgb(0, 0, 0);
font-family: 'time new romain', 'sans-serif';
margin: 70px;
} 

h1 { 
     color: rgb(14, 123, 255);
     font-size: 40px;
     text-decoration-line: underline;
}

button {
    color: rgb(107, 23, 0);
    font-size: 20px;
    text-decoration-line: dashed;
}

img {
     width: 250px;
     border: 10px rgba(0, 0, 0, 0.843);
     border-radius: 15px;
     margin: 40px;
}