body {
background-color:rgb(243, 238, 229);
color:rgb(0, 0, 0);
font-family: 'time new romain', 'sans-serif'
} 

div {
    margin: 95px;
    padding: 25px; 
    border-radius: 40px;
    border: 10px, dashed black;
    background-color: white;
    width: 50;
}

.highlight {
     border: 15px; 
     border-color: black;
     border-style: groove;
     border-radius: 30px;
     padding: 15px;
     text-decoration: underline;
     text-indent: 40%;
}

h1 { 
     color: rgb(77, 103, 135);
     font-size: 90px;
     text-align: center;
     text-decoration-line: underline;
}
h2 { 
     color: rgb(77, 103, 135);
     font-size: 85px;
     text-align: center;
     text-decoration-line: underline;
}
h3 { 
     color: rgb(98, 136, 83);
     font-size: 75px;
     text-align: center;
}
h4 { 
     color: rgb(83, 131, 136);
     font-size: 75px;
     text-align: center;
}

q { 
     color: rgb(33, 37, 42);
     margin: 20px;
     font-size: 60px;
     text-align: center
}

dfn {
     color: 'black';
     font-size: 65px;
     margin: 20px;
}

#Links {
     padding: 55%;
     border: aqua;
     margin: 100%;
}
a {
     color: 'rgb(0, 125, 242)';
     font-size: 65px;
     margin: 50px;
     background-color:rgb(193, 255, 50);
     align-items: right;
     text-align: right;
}

#Paragraph1 {
     background-color: rgb(163, 205, 248);
     border-radius: 30px;
     margin: 20px;
     font-size-adjust: 45px;
}

#Paragraph2 {
     background-color: rgb(226, 180, 255);
     border-radius: 30px;
     margin: 20px;
     font-size-adjust: 450px;
}

p { 
     color: 'black';
     font-size: 60px;
     margin: 10px;
 }

wbr {
     color:rgba(73, 73, 74, 0.932)
}
img {
     width: 800px;
     border: 10px rgba(207, 205, 205, 0.843);
     border-radius: 15px;
     filter: drop-shadow(30px 30px 30px rgba(97, 97, 108, 0.5));
     margin: 40px;
}

#list1 {
     color: 'black';
     background-color: rgb(255, 172, 172);
     padding: 18px;
     border-radius: 20px;
     width: 400px;
     height: 300px;
     border: 10px solid black;
}

#list2 {
     color: 'black';
     background-color: rgb(179, 255, 172);
     padding: 18px;
     border-radius: 20px;
     width: 400px;
     height: 430px;
     border: 10px solid black;
}

#list3 {
     color: 'black';
     background-color: rgb(201, 255, 245);
     padding: 18px;
     border-radius: 20px;
     width: 400px;
     height: 300px;
     border: 10px solid black;
}
#list4 {
     color: 'black';
     background-color: rgb(255, 255, 255);
     padding: 18px;
     border-radius: 20px;
     width: 400px;
     height: 650px;
     border: 10px solid black;
}
li {
     color: 'black';
     margin: 15px;
     font-size: 50px;
}

address {
     color: rgb(0, 0, 0);
     font-size: 55px;
     text-align: center;
}